.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #87ceeb;
    text-align: center;

}

.navbar {
    background-color: #00bfff;
    text-color: white;
}

.card, .card-body{
    background-color: #b0e0e6;
}

.list-group{

}

.jumbotron{
    background-color: #add8e6;
}

#main{
    background-color: #87ceeb;
}

.container{
    margin-block-end: 0%;
    margin-bottom: 3%;
    
}

.list-group-item{
    background-color: #87ceeb;
}