.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #129AB3;
    text-align: center;

}

.navbar {
    background-color: #129AB3;
    text-color: white;
}

.container{
    margin-block-end: 0%;
    margin-bottom: 3%;
    
}



.display-4 {
    color: #129AB3;
    font-family: 'Roboto', sans-serif;

}

.display-5 {
    color: #129AB3;
    font-family: 'Assistant', sans-serif;
    font-size: 36px;

}

i {
    font-family: 'Ruluko', sans-serif;
    font-size: 20px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

#nome_org {
    font-family: 'Ruluko', sans-serif;
    font-size: 24px;
    color: #129AB3;
}

#desc {
    font-family: 'Ruluko', sans-serif;
    font-size: 15px;
}
