/* var text-decoration */
/*--
	Common Css
--*/


@font-face {
    font-family: OpenSans;
    src: url(../fonts/opensans1.otf);
}

.sponsor{
  transform: rotate(270deg); 
  position: absolute;
  margin-left: -60px;
  margin-top: 60px;
  font-size: 19px;
}

.styleS{
  transform: rotate(270deg); 
  position: absolute;
  margin-left: -90px;
  margin-top: 60px;
  font-size: 19px;
}
.sbc{
 padding-left: 10px;
 margin-top: 20px;
 width:80px;
  height:110px;
}
.ieee{
  padding-left: 10px;
  margin-top: 20px;
 }
body {
  font-family: 'OpenSans', sans-serif!important;
  -webkit-font-smoothing: antialiased!important;
  padding-top: 82px!important;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'OpenSans', sans-serif;
}
h2 {
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
}
h3 {
  font-size: 25px;
  font-weight: 300;
}
p {
  font-size: 18px;
  line-height: 28px;
}
ul {
  padding: 0;
  margin: 0;
}
a,
a:active,
a:focus,
a:active {
  text-decoration: none !important;
}
.paper{
 color: #000000; 
 font-size: 18px;
}

.section-title h2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: normal;
  color:#1A79BF;
  padding-top: 20px;
  text-align: center;
}
.sbcS{
  padding-left: 10px;
  margin-top: 20px;
  width: 50px;
  height: auto;

 }
 .ieeeS{
   padding-left: 10px;
   margin-top: 20px;
   width:100px;
  height: auto;
  }


.section-title img {
padding-top: 0px;
padding-bottom: 0px;
    padding-left: 0px;
}

.section-title p {
  font-family: 'OpenSans', sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 20px;
padding-top: 30px;
padding-left: 20px;
  padding-bottom: 20px;
  color: #666;
}
table.blueTable {
  border: 1px solid #1C6EA4;

  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 17px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  text-align:center;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
/*--
  Header Start 
  --*/
@media(min-width: 2560px){
  
#London table{
  max-width: 50%!important;
  margin-bottom: 20px!important;

  margin-left: 70px!important;
}
#Tokyo table{
  max-width: 50%!important;
  margin-bottom: 20px!important;
  margin-left: -70px!important;
}
#Paris table{
  max-width: 50%!important;
  margin-bottom: 20px!important;
  margin-left: -70px!important;
}
#Price table{
  max-width: 50%!important;
  margin-bottom: 20px!important;
  margin-left: 550px!important;
  overflow: auto;
}
}
@media (min-width:1024px) and (max-width: 1440px){
}
@media(min-width: 1440px){
  .text{
    margin-left: -100px; margin-right: -100px;
  
  }  .w3-section, .w3-code {
    margin-top: 14px!important;
    margin-left: 410px!important;
  }
  .w3-block {
    display: block;
    width: 290px!important;
  }
#London table{
 
  margin-bottom: 0px!important;

}
#Tokyo table{
 
  margin-bottom: -200px!important;
  
}
#Paris table{

  margin-bottom: 0px!important;

}
#Price table{
  max-width: 90%!important;
  margin-bottom: 20px!important;
  margin-left: 50px!important;
  overflow: auto;
}
}
@media (min-width:700px) and (max-width: 900px){
  #call-to-action2 {
    margin-left: -100px;
  }
  .col-md-2 {
    margin-left: 0px!important;
    margin-top: -50px!important;
}
.sbc{
  padding-left: 10px!important;
  margin-top: 160px!important;

 }
 .ieee{
   padding-left: 10px!important;
   margin-top:150px!important;
  }
}
@media(max-width:1024px){
  
  #Price table{
    max-width: 50%!important;
    margin-bottom: 20px!important;

    overflow: auto;
  }
  .col-md-2 {
    margin-left: 0px!important;
    margin-top: 20px;
}
}
@media (min-width:1000px) and (max-width: 1024px){
  
  #img4{
    margin-top:20px!important;
  }
  #img7{
    margin-top:10px!important;
  }
  #img10{
    margin-top:19px!important;
  }
  #img12{
    margin-top:14px !important;
  }
  #img13{
    margin-top:10px!important;
  }
  #img15{
    margin-top:10px!important;
  }

  #img16{
    margin-top:10px!important;
  }

  #img17{
    margin-left:10px!important;
  }
  
}
@media (max-width :1000px){
  h3{
    color:#1A79BF;
    font-size: 12px!important;
}
.furg{
  width: 60%;

}
.active, .mystyle{
  width: 100%;
  margin-left: 250px;
  margin-top: -150px;
  height: auto;


}
.sponsor{
  transform: rotate(270deg); 
  position: absolute;
  margin-left: 160px;
  margin-top: 60px;
  font-size: 17px;
}

.sbc{
  padding-left: 10px;
  margin-top: 20px;
  width: 50px;
  height: auto;

 }
 .ieee{
   padding-left: 10px;
   margin-top: 20px;
   width:100px;
  height: auto;
  }

   .navbar-default .navbar-nav li a {
    color: #333333;
    padding: 15px 0px 5px 15px;
    font-size: 12px;
}
.col-md-3 {
  width: 50%;

}
.col-md-2 {
  width: 50%;
}


}
@media (min-width:992px) and (max-width: 1000px){
}
@media (min-width:992px) {
  .col-md-2 {
    margin-left: -90px;
}
  
 h3{
    color:#1A79BF;
    font-size: 14px!important;
  }

  .active, .mystyle{
    width: 30%;

    margin-top: 0px;
    height: auto;
  
  
  }
.sponsor{
  transform: rotate(270deg); 
  position: absolute;
  margin-left: -60px;
  margin-top: 60px;
  font-size: 17px;
}

.sbc{
  padding-left: 10px;
  margin-top: 20px;
  width: 60px;
  height: auto;

 }
 .ieee{
   padding-left: 10px;
   margin-top: 20px;
   width:150px;
  height: auto;
  }

   .navbar-default .navbar-nav li a {
    color: #333333;
    padding: 15px 0px 5px 15px;
    font-size: 12px!important;
  }
}
@media (min-width:600px) and (max-width: 992px){
  
 
  #img4{
    margin-top:20px!important;
  }
  #img7{
    margin-top:10px!important;
  }
  #img10{
    margin-top:19px!important;
  }
  #img12{
    margin-top:14px !important;
  }
  #img13{
    margin-top:10px!important;
  }
  #img15{
    margin-top:10px!important;
  }

  #img16{
    margin-top:10px!important;
  }

  #img17{
    margin-left:10px!important;
  }
  
}
@media (max-width: 600px) {
  .gallery {
  
    margin-left: 0px!important;
    margin-bottom: 50px;
  }
  
  .gallery img {
    margin: 10px;
  
    max-width: 90vw!important;
  }
  #img4{
    margin-top:20px!important;
  }
  #img7{
    margin-top:10px!important;
  }
  #img10{
    margin-top:19px!important;
  }
  #img12{
    margin-top:14px !important;
  }
  #img13{
    margin-top:10px!important;
  }
  #img15{
    margin-top:10px!important;
  }

  #img16{
    margin-top:10px!important;
  }

  #img17{
    margin-left:10px!important;
  }
  
  .navbar-header{
  float: right;
  }
  .navbar{
  min-height: 190px;
  }
  .menu{
    margin-top:-140px; 
    margin-left: 210px;

   }
.sbc{
  padding-left: 10px;
  margin-top: 20px;
  width: 60px;
  height: auto;

 }
 .ieee{
   padding-left: 10px;
   margin-top: -20px;
   width:140px;
  height: auto;
  }
  .facet_sidebar 
   {
    display: none;
   }
}
@media (min-width:361px) and (max-width: 600px){
}
@media (min-width:320px) and (max-width: 360px){
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 440px;
  }
  .active, .mystyle{
    width: 100%;
    margin-left: 150px;
    margin-top: -50px;
  }
  header .navbar-default .navbar-nav {
    margin-top: 150px!important;
  }
  .titulo{
    font-size: 26px; 

  } 
  .titulo2{
    font-size: 26px; 
    margin-top: -100px;

  }
  .subtitulo{ 
    display: none;

  }
  .linhaE {
    margin-top: -100px;
    background-color: #005080;
    height: 1px;
    width: 99%;
  }

  .sbc{
    margin-left: -10px;
    margin-top: 50px;
    width: 50px;
    height: auto;
  }
  .sponsor{
    transform: rotate(0deg)!important; 
    position: absolute;
    margin-left: 20px;
    margin-top: 50px;
    font-size: 18px;
  } 
  .col-md-2{
    margin-top: -100px;
  }
  .menu {
    margin-top: -70px;
    margin-left: 210px;
  }
  .ieee{
    padding-left: 10px;
    margin-top: 50px;
    width: 130px;
    height: auto;
  }
  #slider {
    padding-top: 170px;
    padding-bottom: 80px!important;
  }
}
@media (max-width:320px){
  
  .w3-section, .w3-code {
    margin-top: 14px!important;
    margin-left: 80px!important;
  }
  .w3-block {
    display: block;
    width: 290px!important;
}
#Tokyo table{
  max-width: 100%!important;
  
  margin-left: 0px!important;
}
#Paris table{
  max-width: 100%!important;
  
  margin-left: 0px!important;
}
#Price{
  
  overflow: auto;
}
#Price table{
 
 
  margin-right: 1000px!important;
}
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 440px;
  }
  .active{
    width: 100%;
    margin-left: 100px;
    margin-top: -50px;
  }
  header .navbar-default .navbar-nav {
    margin-top: 150px!important;
  }
  .titulo{
    font-size: 26px; 

  } 
  .titulo2{
    font-size: 26px; 
    margin-top: -100px;

  }
  .subtitulo{ 
    display: none;

  }
  .linhaE {
    margin-top: -100px;
    background-color: #005080;
    height: 1px;
    width: 99%;
  }

  .sbc{
    margin-left: -10px;
    margin-top: 50px;
    width: 50px;
    height: auto;
  }
  .sponsor{
    transform: rotate(0deg)!important; 
    position: absolute;
    margin-left: 20px;
    margin-top: 50px;
    font-size: 18px;
  } 
  .col-md-2{
    margin-top: -100px;
  }
  .menu {
    margin-top: -70px;
    margin-left: 210px;
  }
  .ieee{
    padding-left: 10px;
    margin-top: 50px;
    width: 130px;
    height: auto;
  }
  #slider {
    padding-top: 170px;
    padding-bottom: 80px!important;
  }
}

@media (min-width:361px) and (max-width: 450px){
  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 440px;
  }
  .active, .mystyle{
    width: 100%;
    margin-left: 150px;
    margin-top: -50px;
  }
  header .navbar-default .navbar-nav {
    margin-top: 150px!important;
  }
  .titulo{
    font-size: 26px; 

  } 
  .titulo2{
    font-size: 26px; 
    margin-top: -100px;

  }
  .subtitulo{ 
    display: none;

  }
  .linhaE {
    margin-top: -100px;
    background-color: #005080;
    height: 1px;
    width: 99%;
  }

  .sbc{
    margin-left: -10px;
    margin-top: 50px;
    width: 50px;
    height: auto;
  }
  .sponsor{
    transform: rotate(0deg)!important; 
    position: absolute;
    margin-left: 20px;
    margin-top: 50px;
    font-size: 18px;
  } 
  .col-md-2{
    margin-top: -100px;
  }
  .menu {
    margin-top: -70px;
    margin-left: 210px;
  }
  .ieee{
    padding-left: 10px;
    margin-top: 50px;
    width: 130px;
    height: auto;
  }
  #slider {
    padding-top: 170px;
    padding-bottom: 80px!important;
  }
}
.col-xs-offset-3 {
  margin-left: 5%;
  
}

#slider {
  padding-top: 140px!important;
  padding-bottom: 100px;
}
header {
  position: relative;
}

header .navbar h3{
    color:#1A79BF;
    font-size: 15px;
}
header .navbar {
  background-color: #fff;
  padding-top: 10px;
  margin-bottom: 0px;
  border: 0px;
 
  box-shadow:  0px 1px 5px #000;
}

header .navbar-brand {
     height: unset; 
     padding:  unset; 
     font-size:  unset; 
     line-height:  unset; 
 
}
header .navbar-default {
  background: none;
  border: 0px;
}

header .navbar-default .navbar-nav {
  float: right;
  margin-top: 50px;
}
header .navbar-default .navbar-nav li a {
  color: #333333;
  padding: 15px 0px 5px 15px;
  font-size: 15px;
}
header .navbar-default .navbar-nav li a:hover {
  color: #007aa1;
}
 .center{
  margin-left: 10px;
}
.navbar-nav img{
  padding-top: 12px;
}
/*---------------------------------------------
					Index Start 
-----------------------------------------------*/
/*--
	Slider Start 
--*/
.container1{
  margin: 0 15px 0 15px;
  padding: 0px;
}

#slider {
  width: 100%;
  position: relative;


}
.co-sponsor{
  float: right;;
  width:50%;
   height:auto;
}
.co-sponsor2{
  float: left;
  width:50%; 
  height:auto;

  
}
#slider {
  background: url("../img/r.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 20% 0%;
  padding: 240px 0 170px 0;
  position: relative;
  text-align: center;
}

#slider:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #006699, #0080bf);
  opacity: 0.8;
}

.linha{
    background-color: #005080;
    height: 1px;
    width: 99%;
}
#slider h1 {
  font-family: 'OpenSans', sans-serif;
  font-weight: 800;
  font-size: 60px;
  line-height: 100px;
  letter-spacing: 10px;
  padding-bottom: 10px;
  text-align: center;
}
#slider h4 {
  font-size: 30px;
  line-height: 40px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
}

#slider .block img{
   margin: 0;
}

/*--service Start--*/

#service {
  text-align: center;
  padding: 50px 0;
}


#service .service-item {
  padding-bottom: 50px;
}
#service .service-item i {
  font-size: 60px;
  color: #204b77;
}
#service .service-item h4 {
  padding-top: 25px;
  margin: 0;
  color: #666;
  font-size: 18px;
}

#service .service-item h2 {
  color: #006699;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: normal;
}

#service .service-item p {
  color: #0f1f2f;
  padding-top: 10px;
  font-size: 15px;
  line-height: 1.8;
}
/*--
	call-to-action Start 
--*/
#call-to-action {
  background-size: cover;
  background-attachment: fixed;
  padding: 80px 0px;
  position: relative;
  text-align: center;
  color: #fff;
}

#call-to-action table{
    padding: 2px;
}


#row .service-box-v1 td{
  color: #fff!important;
  background-color: #006699!important;
}
#Price{
  
  overflow: auto;
}
#London td{
    color: #fff!important;
    background-color: #006699!important;
}
#Tokyo td{
  color: #fff!important;
  background-color: #006699!important;
}
#Paris td{
  color: #fff!important;
  background-color: #006699!important;
}

#call-to-action td {
  color: #575757;
  background-color: #fff;
}
#call-to-action a{
    color: #fff;
}

#call-to-action img{
 padding: 10px;
}

#call-to-action2{
 padding: 100px;
}

#call-to-action2 img{ 
 padding-bottom: 20px;
}

#call-to-action h2 {
  padding-top: 5px;
  padding-bottom: 15px;
  line-height: 33px;
  text-align:center;
  margin: 0;
  font-size: 40px;
  font-weight: normal;
  color: #006699;
  text-transform: uppercase;
}
#call-to-action p {
  font-size: 18px;
  line-height: 1.6;
  color:#666;
}
#call-to-action .btn-call-to-action {
  padding: 15px 35px;
  border: none;
  background-color: #fff;
  font-size: 15px;
  color: #333333;
  margin-top: 30px;
}

.org{
    background-color: #006699;
    color:  #fff;
}

.org h2{
    color: #fff;
}

.prog table p{
    padding: 0px; !important
}

.prog table td{
    padding: 10px; !important
}

#prog li{
  list-style: none;
  color: #006699;
}

#prog b{
  color: #006699;
}

#prog h2{
  color: #006699;
}

#prog h3{
  color: #006699;
}

.prog table h3{
        text-align: center; 
        font-size: 20px;
        color: #006699;
        font-weight: bold;

}

.prog table h4{
        text-align: center; 
        color: #01334d;
        font-weight: bold;

}

/*--
	Feature Start 
--*/
.feature {
background-image: url("../img/robo5.png");
background-position: 50% 94px;
  width: 100%;
  display: block;
  position: relative;
  overflow: visible;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 60px 0 130px 0;
}


.feature h2 {
  font-size: 40px;
  font-weight: normal;
  color: #006699;
  text-transform: uppercase;
  text-align: center;
}
.feature a {
  font-size: 27px;
  font-weight: bold;
  color: #002436;
  text-transform: uppercase;
  text-align: center;
}

.feature p {
  color: #272727;
  margin-bottom: 20px;
  font-size: 18px;
 text-align: center;
}
.feature .btn-view-works {
  background: #2382ba;
  color: #fff;
  padding: 10px 20px;
}
/*--
	content Start 
--*/
#testimonial {
  padding: 65px 0 50px 0;
  background-color: #eeeeee;
}

.iframe{
 margin: 0 auto;
     display: block;
}
.wrap {
    text-align:center;

}
#testimonial  h2 {
  color: #006699;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
}
#testimonial p {
  padding-top: 10px;
  color: #666;
  font-size: 25px;
  text-align: center;
}

#testimonial  h4 {
  padding-top: 80px;
  color: #000; 
}

#testimonial h5 {
  padding-top: 50px;
  color: #fff; 
}

#testimonial .counter-box li {
  width: 50%;
  float: left;
  text-align: center;
  margin: 30px 0 30px;
}
#testimonial .counter-box li i {
  font-size: 35px;
}
#testimonial .counter-box li h4 {
  font-size: 30px;
  font-weight: bold;
}
#testimonial .counter-box li span {
  color: #555;
}
#testimonial .testimonial-carousel {
  text-align: center;
  width: 75%;
  border: 1px solid #DEDEDE;
  padding: 24px;
  margin: 0 auto;
}
#testimonial .testimonial-carousel img {
  padding-bottom: 38px;
}
#testimonial .testimonial-carousel p {
  line-height: 28px;
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 20px;
}
#testimonial .testimonial-carousel .user img {
  padding-bottom: 0px;
  border-radius: 500px;
}
#testimonial .testimonial-carousel .user p {
  padding-bottom: 0;
  font-size: 19px;
  line-height: 20px;
  color: #353241;
}
#testimonial .testimonial-carousel .user p span {
  display: block;
  color: #353241;
  font-weight: 600;
}
#testimonial .testimonial-carousel .owl-carousel .owl-pagination div {
  border: 1px solid #1D1D1D;
  border-radius: 500px;
  display: inline-block;
  height: 10px;
  margin-right: 15px;
  width: 10px;
}
#testimonial .testimonial-carousel .owl-carousel .owl-pagination div.active {
  background: #5C5C5C;
  font-size: 30px;
  display: inline-block;
  border: 0px;
}

/*---------------------------------------------
					Contact Close 
-----------------------------------------------*/
/*--------- Heading------------*/
.heading {
  padding-bottom: 60px;
  text-align: center;
}
.heading h2 {
  color: #000;
  font-size: 40px;
  line-height: 40px;
  font-weight: normal;
  text-transform: uppercase;
}
.heading p {
  font-size: 18px;
  line-height: 40px;
  color: #292929;
  font-weight: 300;
}
/*---------------------------*/
/*--
	footer Start 
--*/
.footer {
  background: #006699;
  text-align: center;
  padding-top: 48px;
  padding-bottom: 55px;
}
.footer p {
  font-size: 5px;
  line-height: 25px;
  color: #919191;
  font-weight: bold;
}
footer a {
  color: #595959;
}
footer .footer-manu {
  padding-bottom: 25px;
}
footer .footer-manu ul {
  margin: 0px;
  padding: 0px;
}
footer .footer-manu ul li {
  display: inline-block;
  padding: 0px 20px;
}
footer .footer-manu ul li a {
  display: inline-block;
  color: #494949;
}
footer .footer-manu ul li a:hover {
  color: #000;
}

#icon{
  margin: 0;
  padding-right: 2px;
}

li a{
  padding: 0;
}